<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
    <meta name="author" content="Inovatik">

    <!-- Website Title -->
    <title>Phát hiện tin giả bằng Machine Learning </title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/fontawesome-all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/swiper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/magnific-popup.css') }}" rel="stylesheet">

    <!-- <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet"> -->

    <!-- Favicon  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="icon" href="https://media1.giphy.com/media/f9xvcrzFdRaHATv6me/giphy.gif?cid=6c09b95256e366c2930ac6483563c01a1c5f9a6d8e1e27ce&rid=giphy.gif&ct=s">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

            <!-- Image Logo -->
            <div class="navbar-brand" href="index.html">
                {% if not pictures %}
                <h6 class="text-white"></h6><img width="90" style="height: auto; border-radius: 50%;" src="https://media1.giphy.com/media/f9xvcrzFdRaHATv6me/giphy.gif?cid=6c09b95256e366c2930ac6483563c01a1c5f9a6d8e1e27ce&rid=giphy.gif&ct=s" alt="alternative"></h6>
                {% else %}
                <h6 class="text-white"><img style="border-radius: 50%;" width="45" class="img-rounded" src="{{ pictures }}" alt="User Logo"> Xin chào {{names}}</h6>
                {% endif %}
            </div>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ url_for('home')}}">TRANG CHỦ <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ url_for('forum')}}">DIỄN ĐÀN</a>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link page-scroll" href="#details">TIN GIẢ</a>
                </li> -->

                    <!-- Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle page-scroll active" href="#video" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">HƯỚNG DẪN</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('detectfakenews')}}"><span class="item-text">HƯỚNG
                                    DẪN CÁCH NHẬN BIẾT TIN GIẢ </span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="{{ url_for('preventfakenews')}}"><span
                                    class="item-text">HƯỚNG DẪN CÁCH PHÒNG TRÁNH, ĐỐI PHÓ TIN GIẢ </span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="{{ url_for('usermanual')}}"><span class="item-text">HƯỚNG DẪN
                                    SỬ DỤNG TRANG WEB </span></a>
                        </div>
                    </li>
                    <!-- end of dropdown menu -->

                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ url_for('check')}}">KIỂM TRA</a>
                    </li>
                     
                    {% if not names %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ url_for('post')}}">ĐĂNG BÀI</a>
                    </li>
                    {% endif %}
                 
                </ul>
                <span class="nav-item">
                    {% if not names %}
                    <a class="btn-outline-sm" href="{{ url_for('login')}}"><i class="fa-brands fa-google"></i> ĐĂNG
                        NHẬP</a>
                    {% else %}
                    <a class="btn-outline-sm" href="{{ url_for('logout')}}"><i
                            class="fa-solid fa-right-from-bracket"></i> ĐĂNG XUẤT</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <!-- end of container -->
    </nav>
    <!-- end of navbar -->
    <!-- end of navigation -->

    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Tổng Quan Về Tin Giả Và Phát Hiện Tin Giả</h1>
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </header>
    <!-- end of ex-header -->
    <!-- end of header -->

    <!-- Privacy Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <div class="image-container-large">
                        <img class="img-fluid" width="45" style="height: auto; border-radius: 50%;"  src="https://media1.giphy.com/media/f9xvcrzFdRaHATv6me/giphy.gif?cid=6c09b95256e366c2930ac6483563c01a1c5f9a6d8e1e27ce&rid=giphy.gif&ct=s" alt="alternative">
                    </div> -->
                    <!-- end of image-container-large -->
                    <div class="text-container">
                        <h3>A. Khái niệm về tin giả</h3>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;Thuật ngữ "tin giả" là một khái niệm tương đối mới và cho đến nay vẫn chưa có một định nghĩa chung được thống nhất về tin tức giả mạo hay tin giả (Fake News).</p>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;Theo từ điển Oxford <i>"Tin giả là thông tin sai sự thật
                                được phát sóng hoặc xuất bản dưới dạng tin tức nhằm mục
                                đích lừa đảo hoặc có động cơ chính trị. Tin giả tạo ra sự
                                nhầm lẫn đáng kể của công chúng về các sự kiện hiện tại.
                                Tin giả bùng nổ trên phương tiện truyền thông xã hội, đang
                                xâm nhập vào các kênh truyền thông chính".</i></p>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;Học giả về truyền thông Nolan Higdon đã định nghĩa <i>"Tin
                                tức giả là nội dung sai sự thật hoặc gây hiểu lầm được trình
                                bày dưới dạng tin tức và được truyền đạt dưới các định dạng
                                bao gồm truyền thông nói, viết, in, điện tử và kỹ thuật số".</i> Tin tức giả mạo cũng đề cập đến những câu chuyện bịa đặt có rất ít hoặc không có sự thật và khó có thể xác minh được. Thậm chí rộng hơn, sau kỳ bầu cử tổng
                            thống Mỹ năm 2020, người ta đã mở rộng ý nghĩa của "tin tức giả" để bao gồm cả các tin tức tiêu cực về niềm tin và hành động cá nhân của họ.</p>
                    </div>
                    <!-- end of text-container-->

                    <div class="text-container">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>B. Phân loại tin giả</h3>
                                <p>
                                    <b class="blue">
                                        <i><u>1) Thông tin sai lệch (mis-information):</u> </i>
                                    </b>
                                    </br>&nbsp;&nbsp;&nbsp;&nbsp;Những thông tin sai lệch một cách tự nhiên, không chủ đích của người viết, thường đến từ việc hiểu sai vấn đề, không rà soát lỗi chính tả, không kiểm tra lại thông tin.
                                    <br>&nbsp;&nbsp;&nbsp;&nbsp;Trên truyền thông, ta có thể bắt gặp tin sai ở các dạng lỗi sai phạm, tắc trách hay định kiến vô thức của người đưa tin. Đó có thể là lỗi viết sai tên đối tượng của một bài báo, lỗi viết
                                    nhầm ngày, địa điểm trong một văn kiện, hay việc chia sẻ một tin sai sự thật với mục đích giúp đỡ nhưng không kiểm chứng nội dung được chia sẻ.
                                </p>
                            </div>
                            <!-- end of col -->
                            <div class="col-md-6">
                                <div class="image-container-small text-center">
                                    <img width="80%" class="img-fluid" src="https://img.freepik.com/free-vector/fake-news-concept_23-2148511560.jpg?w=2000" alt="alternative">
                                </div>
                                <!-- end of image-container-small -->
                            </div>
                            <!-- end of col -->
                            <p>
                                <b class="blue">
                                    <i><u>2) Thông tin giả mạo (Dis-information):</u> </i>
                                </b>
                                </br>&nbsp;&nbsp;&nbsp;&nbsp;Tin xuyên tạc, hay dắt mũi là các loại thông tin cố ý đưa sai sự thật với nhiều kỹ thuật chỉnh sửa hình ảnh, nội dung, số liệu, ngữ cảnh, văn phong… nhằm đạt được mục đích lợi ích cụ thể và
                                để lại những hậu quả nghiêm trọng.
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;Theo bài đăng trên tạp chí Tia Sáng, trong thực tế, tin xuyên tạc/dắt mũi còn có các phân loại nhỏ hơn. Các phân loại đó là:
                            </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;<i><b>- Bối cảnh sai (False context):</b></i> Loại thông tin giả mạo này được sử dụng để mô tả nội dung xác thực nhưng đã được điều chỉnh lại theo những cách nguy hiểm. Ví dụ, lợi dụng sự cố Formosa
                                xả thải gây ra hiện tượng cá chết hàng loạt tại vùng biển khu vực các tỉnh bắc miền Trung, nhiều bản tin đã lồng ghép các ý đồ chính trị để kích động, chống phá chế độ.</p>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;<i><b>- Nội dung mạo danh (Imposter content): </b></i>Là những nội dung sai sự thật hoặc gây hiểu lầm bằng cách sử dụng các biểu trưng nổi tiếng hoặc tin tức từ các nhân vật hoặc nhà báo có uy tín.
                                Như chúng ta biết, bộ não của con người luôn tìm kiếm từ kinh nghiệm tích luỹ được để xác định độ tin cậy khi tiếp nhận một thông tin nào đó. Dựa trên kinh nghiệm là lối tắt tư duy để giúp chúng ta hiểu được thế giới. Lợi
                                dụng điều này, người tạo tin giả sẽ tìm cách giả mạo là nội dung do những cá nhân, tổ chức nổi tiếng cung cấp hoặc đã được họ chấp nhận. Ví dụ, ở Việt Nam trong thời gian gần đây, các nhãn hàng đã mời các nghệ sĩ nổi tiếng
                                quảng cáo sai sự thật đã trở thành một vấn nạn và gây khó khăn cho sự lựa chọn của khách hàng.
                            </p>
                            <div style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
                                <img style="width: 90%" src="https://about.fb.com/wp-content/uploads/2018/06/factcheckers_thumbnail_final.gif" alt="">
                                <p class="text-center"><i>Khó khăn trong việc xác thực tin giả</i></p>
                            </div>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;<i><b>- Nội dung bị thao túng (Manipulated content):</b></i> Nội dung bị thao túng là khi một khía cạnh nào đó của nội dung chính hãng bị thay đổi. Điều này thường liên quan đến ảnh hoặc video. Ví dụ,
                                khi cố tình đưa tin sai sự thật về một vụ tai tiếng (scandal) của người nổi tiếng, một thủ thuật thường được sử dụng là ghép ảnh, chỉnh sửa ảnh gốc theo dụng ý của người đưa tin để minh hoạ cho nội dung.</p>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;<i><b>- Nội dung bịa đặt (Fabricated content):</b></i> Nội dung bịa đặt là sai 100%. Ví dụ, vào tháng 8 năm 2021, trên mạng xã hội chia sẻ với tốc độ chóng mặt về tin một người bác sĩ tên Trần Khoa,
                                người này chia sẻ đã quyết định <i>"nhường
                                    đi chiếc máy thở"</i> của ba mẹ mình đang dùng cho một sản phụ đang cần. Thông tin này đi kèm với một lá thư rất lâm ly của bác sĩ Khoa và nhận được sự đồng cảm lớn từ cộng đồng mạng. Tuy nhiên, Sở Y tế Thành phố Hồ
                                Chí Minh cho biết sau, khi kiểm tra có đủ cơ sở khẳng định thông tin lan truyền về trường hợp một bác sĩ rút ống thở của người nhà để nhường máy thở cho mẹ con sản phụ là hư cấu.
                            </p>
                            <p>
                                <b class="blue">
                                    <i><u>3) Thông tin độc hại (Mal-information):</u> </i>
                                </b>
                                </br>&nbsp;&nbsp;&nbsp;&nbsp;Chia sẻ thông tin <i> "chính hãng" </i> nhưng với mục đích gây hại.
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;
                                <b><i>- Rò rỉ (Leaks):</i></b> Rò rỉ thông tin là một sự kiện diễn ra khi thông tin bí mật được tiết lộ cho những người hoặc bên không có thẩm quyền. Ví dụ, trong các cuộc bầu cử tổng thống Mỹ hoặc trước các kỳ đại hội
                                Đảng ở Việt Nam thường xuất hiện rất nhiều các thông tin được cho là rò rỉ từ các hồ sơ mật và gần như không thể kiểm chứng. Những thông tin này thường gây hoang mang và tạo ra nhiều luồng dư luận trái chiều.
                                <br> &nbsp;&nbsp;&nbsp;&nbsp; <b><i>- Quấy rối (Harassment):</i> </b> Là bất kỳ hành vi nào, dù bằng lời nói, hình ảnh, văn bản hay cách khác nhằm mục đích xúc phạm hoặc làm nhục một cá nhân, tổ chức nào đó. Cùng với mạng
                                xã hội, các hành vi quấy rối ngày càng trở nên phổ biến và tinh vi. Ví dụ, fanpage của các nhân vật nổi tiếng thường lan truyền các thông tin nhằm hạ thấp các đối thủ cạnh tranh và nâng cao hình ảnh thần tượng của mình.
                                <br> &nbsp;&nbsp;&nbsp;&nbsp; <b><i>- Gây chia rẻ, thù hận (Hate speech):</i></b> Những nội dung biểu hiện qua lời nói, văn bản hoặc các biểu hiện khác thể hiện sự căm thù, phỉ báng một người hoặc những người khác. Các
                                nội dung gây chia rẻ, thù hận thường dựa trên một nhóm xã hội được xác định bởi các thuộc tính như chủng tộc, dân tộc, giới tính, khuynh hướng tình dục, tôn giáo, tuổi tác, khuyết tật về thể chất hoặc tinh thần.
                            </p>
                        </div>
                        <!-- end of row -->
                    </div>
                    <!-- end of text-container -->

                    <!-- <div class="text-container dark">
                        <p class="testimonial-text">Tivo is a HTML landing page template tool. By its nature, Services enable our customers to promote their products and services integrate with hundreds of business applications that they already use, all in one place. Services help our customers promote their products and services, marketing and advertising; engaging audiences; scheduling and publishing messages; and analyze the results.</p>
                    </div> end of text container -->
                </div>
                <!-- end of col-->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of ex-basic-2 -->
    <!-- end of privacy content -->
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright &copy; 2023. All Rights Reserved.</a>
                    </p>
                </div>
                <!-- end of col -->
            </div>
            <!-- enf of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}">
    </script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}">
    </script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}">
    </script>
    <script src="{{ url_for('static',filename='js/jquery.easing.min.js') }}">
    </script>
    <script src="{{ url_for('static',filename='js/swiper.min.js.js') }}">
    </script>
    <script src="{{ url_for('static',filename='js/jquery.magnific-popup.js') }}">
    </script>
    <script src="{{ url_for('static',filename='js/validator.min.js') }}">
    </script>
    <script src="{{ url_for('static',filename='js/scripts.js') }}">
    </script>
</body>

</html>