
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phát hiện tin giả bằng Machine Learning </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Box Icons -->
    <link rel="icon"
        href="https://media1.giphy.com/media/f9xvcrzFdRaHATv6me/giphy.gif?cid=6c09b95256e366c2930ac6483563c01a1c5f9a6d8e1e27ce&rid=giphy.gif&ct=s">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <div class="main">
        <div class="side-navbar">
            <ul>
                <li><a href="#">
                        <span id="menu-icon" class="icon"><i class='bx bx-menu'></i></span>
                    </a></li>
                <li><a href="#">
                        <span class="icon"><i class='bx bxs-home-circle'></i></span>
                        <span class="text">Trang chủ</span>
                    </a></li>
                <li><a href="SinhVien.html">
                        <span class="icon"><i class='bx bxs-chat'></i></span>
                        <span class="text">Quản lý bình luận</span>
                    </a></li>
                <li><a href="#">
                        <span class="icon"><i class='bx bxs-search-alt-2'></i></span>
                        <span class="text">Tìm kiếm bài viết</span>
                    </a></li>
                <li><a href="TinChi.html">
                        <span class="icon"><i class='bx bxs-book-content'></i></span>
                        <span class="text">Quản lý bài viết</span>
                    </a></li>
                <li><a href="{{ url_for('logout')}}">
                        <span class="icon"><i class='bx bxs-log-out'></i></span>
                        <span class="text">Đăng xuất</span>
                    </a></li>
            </ul>
        </div>
        <div class="content">
            <div class="top-navbar">
                <div class="profile">
                    <img src="https://th.bing.com/th/id/R.10b77511c4f2710becf8736511c3eaa6?rik=VwNYt%2bS7N52Y0A&pid=ImgRaw&r=0"
                        alt="">
                </div>
            </div>
            <div class="container-fluid">
                <br>
              <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Link</th>
                                <th scope="col">Date</th>
                                <th colspan="2">Label</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%  for realnews in reals %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ realnews.content }}</td>
                                <td><a class="blue page-scroll" href="{{realnews.Link}}">{{realnews.link}}</a></td>
                                <td>{{ realnews.date}}</td>
                                <td>
                                    {% if realnews.label == '1' %}
                                    <p class="text-danger">Tin thật</p>
                                    {% else %}
                                    <p>Tin giả</p>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
            </div>
        </div>
    </div>

    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>

</html>